langchain
pypdf
PyPDF2
langchain-google-genai
langchain-community
streamlit
google-generativeai
faiss-cpu

nltk
pytesseract
PyMuPDF
Pillow
transformers
torch
torchvision

mistralai
numpy

weaviate-client
langchain-weaviate
